body {
    background: #1c5570;
    color: #ffffff;
    font:14px 'Open Sans', Calibri, Helvetica, Arial, sans-serif;
    margin-left:200px;
}
.input, #answer {
    width: 60%;
    margin:60px auto;
    padding: 1em;
    height: 4em;
    border: 0 none;
}

.input{
    display:block;
    background: #21cf8f;
    cursor: pointer;
    color:white;
}
#answer{
    color: #f2bb18;
}